.img-parent{
    flex: 1 1 300px;
}

.title {
    color: #aa0000;
    font-size: 330%;
    font-weight: 620;
    font-family: Georgia, serif;

    background: linear-gradient(
        90deg,
        #aa0000 0%,
        #aa0000 45%,
        #ff7777 50%,
        #aa0000 55%,
        #aa0000 100%
    );

    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 8s linear infinite;
}

@keyframes shine {
    from { background-position: 150% 0; }
    to   { background-position: -150% 0; }
}

.img1{
    height:500px;
    max-width: 600px; aspect-ratio:1;
    z-index:1;
}
